/************************************/
/*************  COLORS   ************/
/************************************/
.font-logo {
  font-family: 'Lato', sans-serif;
}
.black-font {
  color: #000000;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
p,
pre {
  margin: 1em 0;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
span {
  margin: 0;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  line-height: 1em;
}
*:not(input) {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
a:active,
a:focus,
input:focus,
input:visited,
input:active,
input:hover,
input:required,
input:valid,
input:invalid,
textarea:focus,
textarea:visited,
textarea:active,
textarea:hover,
textarea:required,
textarea:valid,
textarea:invalid,
select:focus,
select:visited,
select:active,
select:hover,
select:required,
select:valid,
select:invalid {
  outline: none !important;
}
a {
  cursor: pointer;
  text-decoration: none;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}
p,
h1,
h2,
h3,
span,
li {
  font-family: 'Lato', sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}
.vertical-centered {
  top: 50%;
  transform: translateY(-50%);
}
.horizontal-centered {
  left: 50%;
  transform: translateX(-50%);
}
.parent-centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.social-network-wrapper {
  position: relative;
  display: block;
  width: 110px;
  height: 30px;
  margin: 0 auto;
  margin-top: 50px;
}
.social-network-wrapper .social-network-link {
  position: absolute;
  width: 30px;
  height: 30px;
}
.social-network-wrapper .social-network-link svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: fill 1s ease-out;
}
.social-network-wrapper .social-network-link.facebook {
  top: 0;
  left: 0;
}
.social-network-wrapper .social-network-link.instagram {
  top: 0;
  right: 0;
}
.social-network-wrapper .social-network-link.whatsapp {
  top: 0;
  left: 40px;
}
body::-webkit-scrollbar {
  width: 0 !important;
}
.paragraph {
  font-size: 1.4rem;
  letter-spacing: 3px;
  line-height: 2rem;
}
.section-link {
  position: absolute;
  cursor: pointer;
}
.section-link .link-text {
  position: relative;
  font-size: 16px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 900;
  transition: color 0.3s ease-out;
}
.section-link .link-text.active {
  color: #FF914C;
}
.section-link:hover .link-text {
  color: #808080;
}
.section-link:hover .link-text.active {
  color: #FF914C;
}
.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  z-index: 6;
}
.splash .content-wrapper {
  position: absolute;
}
.splash .content-wrapper img {
  position: relative;
  display: block;
  height: 160px;
  width: auto;
  margin: 0 auto;
}
.splash .content-wrapper .progress-number {
  position: relative;
  display: block;
  margin-top: 60px;
  color: #FF914C;
  text-align: center;
}
.splash .content-wrapper .progress-bar-container {
  position: relative;
  display: block;
  width: 200px;
  height: 2px;
  margin: 0 auto;
  margin-top: 60px;
  background-color: #545454;
  overflow: hidden;
}
.splash .content-wrapper .progress-bar-container .progress-bar {
  position: absolute;
  left: -100%;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #FF914C;
}
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 90px;
  background: white;
  z-index: 5;
  transition: 1s all ease-in-out;
}
header.small-height {
  height: 70px;
}
header.light-grey-background {
  background: #f5f5f5;
}
header .home-logo-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  transition: 1 height ease-in-out;
}
header .home-logo-wrapper img {
  position: absolute;
  left: 50px;
  height: 60px;
  width: auto;
  opacity: 1;
  cursor: pointer;
}
header .home-logo-wrapper .logo-text {
  position: absolute;
  width: auto;
  left: 130px;
  color: #FF914C;
  font-size: 1.6rem;
  text-transform: uppercase;
  cursor: pointer;
}
header .menu-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  transition: 1 height ease-in-out;
}
header .menu-wrapper ul {
  position: absolute;
  right: 50px;
  width: auto;
}
header .menu-wrapper ul li {
  position: relative;
  float: left;
  margin-right: 20px;
}
header .menu-wrapper ul li.no-right-margin {
  margin-right: 0;
}
footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-left: 650px solid transparent;
  border-bottom: 120px solid #FF914C;
  z-index: 5;
  transition: 1s all ease;
}
footer .social-network-wrapper {
  position: fixed;
  bottom: 30px;
  right: 50px;
  z-index: 3;
}
footer.grey-background {
  border-bottom-color: #545454;
}
footer.grey-background .social-network-wrapper .social-network-link svg {
  fill: orange;
}
section {
  position: absolute;
  top: 90px;
  left: 0;
  width: 100%;
  min-height: calc(100vh - 70px);
  overflow: hidden;
  background-color: #545454;
  box-sizing: border-box;
  padding: 100px 130px;
}
.section-footer {
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
}
.section-footer,
.section-footer * {
  -webkit-touch-callout: auto;
  -webkit-user-select: auto;
  user-select: auto;
}
.section-footer .footer-wrapper {
  position: absolute;
  width: 160px;
  height: 34px;
}
.section-footer .footer-wrapper .contact-data {
  position: absolute;
  color: #FF914C;
  letter-spacing: 4px;
}
.section-footer .footer-wrapper .social-network-wrapper {
  position: relative;
  width: 100px;
  height: 30px;
  margin: 0 30px;
}
#home-section {
  height: calc(100vh - 90px);
  z-index: 0;
}
#home-section .home-image-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  overflow: hidden;
  background-image: url('../../resources/images/home_background_image.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}
#home-section .slogan-wrapper {
  position: absolute;
  right: 8%;
  top: 40%;
  width: 22%;
  left: auto;
  font-style: oblique;
}
#home-section .slogan-wrapper .slogan {
  position: relative;
  color: #545454;
  font-size: 1.3rem;
  text-align: left;
}
#home-section .slogan-wrapper .slogan-author {
  position: relative;
  margin-top: 6px;
  right: 10px;
  text-align: right;
  font-size: 0.9rem;
}
#contact-section {
  height: calc(100vh - 70px);
  top: 100%;
  z-index: 1;
  background-color: #FF914C;
  display: none;
}
#contact-section .contact-paragraph {
  position: relative;
  display: block;
  width: 50%;
  color: #ffffff;
  margin: 0 auto;
  text-align: justify;
  text-align-last: center;
}
#contact-section .contact-data {
  position: relative;
  display: block;
  text-align: center;
  color: #545454;
  letter-spacing: 4px;
}
#contact-section .contact-data.email {
  margin-top: 50px;
}
#contact-section .contact-data.phone-number {
  margin-top: 20px;
}
#about-section {
  top: 100%;
  height: auto;
  z-index: 1;
  display: none;
}
#about-section p {
  color: white;
  margin-bottom: 80px;
}
#about-section h2,
#about-section h3 {
  color: #FF914C;
  margin-bottom: 40px;
}
#services-section {
  top: 100%;
  height: auto;
  z-index: 1;
  background-color: #ffffff;
  display: none;
}
#services-section p {
  color: #545454;
  margin-bottom: 80px;
}
#services-section h2,
#services-section h3 {
  color: #FF914C;
  margin-bottom: 40px;
}
