/************************************/
/*************  COLORS   ************/
/************************************/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
p,
pre {
  margin: 1em 0;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
span {
  margin: 0;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  line-height: 1em;
}
*:not(input) {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
a:active,
a:focus,
input:focus,
input:visited,
input:active,
input:hover,
input:required,
input:valid,
input:invalid,
textarea:focus,
textarea:visited,
textarea:active,
textarea:hover,
textarea:required,
textarea:valid,
textarea:invalid,
select:focus,
select:visited,
select:active,
select:hover,
select:required,
select:valid,
select:invalid {
  outline: none !important;
}
a {
  cursor: pointer;
  text-decoration: none;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}
p,
h1,
h2,
h3,
span,
li {
  font-family: 'Ubuntu', sans-serif;
}
.stroke {
  font-weight: bold;
}
ul {
  margin: 0;
  padding: 0;
}
.visible {
  display: block !important;
}
.clear-both {
  clear: both;
}
.vertical-centered {
  top: 50%;
  transform: translateY(-50%);
}
.horizontal-centered {
  left: 50%;
  transform: translateX(-50%);
}
.parent-centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section-link {
  position: absolute;
  cursor: pointer;
}
.section-link .link-svg {
  position: relative;
  width: 30px;
  height: 20px;
  fill: #000000;
}
.section-link .link-text {
  position: relative;
  font-size: 16px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 900;
  transition: color 0.3s ease-out;
}
.section-link.left-link {
  padding: 15px 15px 15px 40px;
  left: 0;
}
.section-link.right-link {
  right: 0;
  padding: 15px 40px 15px 15px;
}
.section-link.bottom-link {
  bottom: 0;
  padding: 15px 15px 15px 15px;
}
.section-link:hover .link-text {
  color: #FF9200;
}
.social-network-wrapper {
  position: relative;
  display: block;
  width: 100px;
  height: 30px;
  margin: 0 auto;
  margin-top: 50px;
}
.social-network-wrapper .social-network-link {
  position: absolute;
  width: 30px;
  height: 30px;
}
.social-network-wrapper .social-network-link svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: fill 1s ease-out;
}
.social-network-wrapper .social-network-link.facebook {
  top: 0;
  left: 0;
}
.social-network-wrapper .social-network-link.instagram {
  top: 0;
  right: 0;
}
.back-link {
  position: fixed;
  right: 70px;
  top: 50px;
  z-index: 5;
  display: none;
  opacity: 0.001;
}
.back-link .social-network-wrapper {
  margin-top: 0;
  display: block;
  width: 70px;
}
.back-link .link-text {
  position: relative;
  display: block;
  color: #000000;
  font-size: 16px;
  transition: color 0.3s ease-out;
  text-transform: uppercase;
  font-weight: 900;
  cursor: pointer;
  text-align: right;
  margin-bottom: 15px;
}
.back-link .link-text:hover {
  color: #FF9200;
}
.header-section {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.header-section .left-part,
.header-section .right-part {
  position: relative;
  float: left;
  height: 100vh;
  width: 50%;
}
.header-section .left-part img,
.header-section .right-part img {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  transform: translateY(-50%);
}
.paragraph {
  font-size: 1.4rem;
  letter-spacing: 3px;
  line-height: 2rem;
}
.logo-wrapper {
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 5;
  cursor: pointer;
}
.logo-wrapper img {
  position: relative;
  height: 60px;
  width: auto;
}
#home-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
}
#home-section .background-image {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#home-section .background-image img {
  position: absolute;
  width: 100%;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  top: 42%;
}
#home-section .main-title {
  position: absolute;
  top: 65%;
  color: #FF9200;
  width: 60%;
  text-align: center;
  font-size: 8rem;
}
#home-section .link-to-about-section {
  top: 50%;
}
#home-section .link-to-about-section .link-svg {
  display: inline-block;
  vertical-align: middle;
  transform: rotate(180deg);
}
#home-section .link-to-about-section .link-text {
  display: inline-block;
  vertical-align: middle;
}
#home-section .link-to-services-section {
  top: 50%;
}
#home-section .link-to-services-section .link-svg {
  display: inline-block;
  vertical-align: middle;
}
#home-section .link-to-services-section .link-text {
  display: inline-block;
  vertical-align: middle;
}
#home-section .link-to-contact-section {
  left: 50%;
  transform: translateX(-50%);
}
#home-section .link-to-contact-section .link-svg {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  transform: rotate(90deg);
}
#contact-section {
  position: absolute;
  top: 100vh;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #41393E;
  z-index: 1;
  display: none;
}
#contact-section .link-to-home-section {
  top: 40px;
  z-index: 5;
}
#contact-section .link-to-home-section .link-svg {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  transform: rotate(-90deg);
  fill: #FF9200;
}
#contact-section .link-to-home-section .link-text {
  display: block;
  color: #FF9200;
}
#contact-section .contact-paragraph {
  position: relative;
  display: block;
  width: 50%;
  color: #FF9200;
  margin: 0 auto;
  padding-top: 160px;
  text-align: justify;
  text-align-last: center;
}
#contact-section .contact-data {
  position: relative;
  display: block;
  text-align: center;
  color: #ffffff;
  letter-spacing: 4px;
}
#contact-section .contact-data.email {
  margin-top: 50px;
}
#contact-section .contact-data.phone-number {
  margin-top: 20px;
}
#about-section {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  z-index: 1;
  background-color: #ffffff;
}
#about-section .link-to-home-section {
  top: 50%;
  z-index: 5;
}
#about-section .link-to-home-section .link-svg {
  display: inline-block;
  vertical-align: middle;
}
#about-section .link-to-home-section .link-text {
  display: inline-block;
  vertical-align: middle;
}
#about-section .header-section .left-part {
  background-color: #ffffff;
}
#about-section .header-section .left-part .text-wrapper {
  position: absolute;
  left: 80px;
  top: 220px;
  width: 70%;
  box-sizing: border-box;
}
#about-section .header-section .left-part .text-wrapper .subtitle {
  position: relative;
  display: block;
  color: #FF9200;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
#about-section .header-section .left-part .text-wrapper .title {
  position: relative;
  display: block;
  color: #41393E;
  font-size: 5.5rem;
}
#about-section .about-wrapper {
  position: relative;
  width: 100%;
  padding: 200px 10% 100px 10%;
  min-height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}
#about-section .about-wrapper .section {
  position: relative;
  float: left;
  margin-bottom: 200px;
}
#about-section .about-wrapper .section .about-section-paragraph {
  padding-left: 40px;
  padding-top: 54px;
  width: 50%;
  float: left;
  box-sizing: border-box;
  text-align: justify;
}
#about-section .about-wrapper .section .photo {
  position: relative;
  height: auto;
  width: 50%;
  float: left;
}
#about-section .about-wrapper .about-paragraph-width {
  position: relative;
  width: 100%;
  float: left;
  box-sizing: border-box;
  text-align: justify;
  margin-bottom: 40px;
}
#about-section .about-wrapper .about-paragraph-width.big-margin-botton {
  margin-bottom: 200px;
}
#about-section .about-wrapper .photo-width {
  position: relative;
  height: auto;
  width: 100%;
  margin-bottom: 100px;
}
#services-section {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  z-index: 1;
  display: none;
}
#services-section .link-to-home-section {
  top: 50%;
  z-index: 5;
}
#services-section .link-to-home-section .link-svg {
  display: inline-block;
  vertical-align: middle;
  transform: rotate(180deg);
}
#services-section .link-to-home-section .link-text {
  display: inline-block;
  vertical-align: middle;
}
#services-section .header-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
#services-section .header-section .left-part {
  overflow: hidden;
}
#services-section .header-section .left-part img {
  width: auto;
  height: 100%;
}
#services-section .header-section .right-part {
  background-color: #ffffff;
}
#services-section .services-list {
  position: absolute;
  right: 80px;
  width: 400px;
  box-sizing: border-box;
  z-index: 5;
}
#services-section .services-list .service-item {
  position: relative;
  display: block;
  float: right;
  clear: both;
  margin-bottom: 30px;
  font-size: 4rem;
  text-align: right;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 3px;
  color: #000000;
  transition: color 0.6s ease-out;
}
#services-section .services-list .service-item.selected {
  color: #FF9200;
}
#services-section .services-list .service-item:last-child {
  margin-bottom: 0px !important;
}
#services-section .services-list .service-item:hover {
  color: #FF9200;
}
#services-section .service-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px 300px 200px 200px;
  box-sizing: border-box;
  background-color: #ffffff;
  display: none;
}
#services-section .service-wrapper#service-a {
  background-color: #D6D6D6;
}
#services-section .service-wrapper#service-a .service-paragraph {
  width: 85%;
  text-align: justify;
}
#services-section .service-wrapper#service-a .offered-services {
  position: relative;
  text-decoration: none;
  width: 80%;
  margin: 30px 0 60px 0;
}
#services-section .service-wrapper#service-a .offered-services li {
  list-style-type: circle;
  margin-left: 60px;
  margin-bottom: 10px;
}
#services-section .service-wrapper#service-b .main-video {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 160px;
}
#services-section .service-wrapper#service-b .title {
  margin-bottom: 100px;
}
#services-section .service-wrapper#service-b .paragraph {
  position: relative;
  width: 100%;
  float: left;
  text-align: center;
  margin-bottom: 100px;
}
#services-section .service-wrapper#service-b .slider-wrapper {
  position: relative;
  display: block;
  width: 85%;
  height: 470px;
  margin: 0 auto;
  clear: both;
}
#services-section .service-wrapper#service-b .slider-wrapper .video-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000000;
}
#services-section .service-wrapper#service-b .slider-wrapper .video-wrapper video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
}
#services-section .service-wrapper#service-b .slider-wrapper .video-wrapper video.active {
  opacity: 1;
  z-index: 2;
}
#services-section .service-wrapper#service-b .slider-wrapper .slider-arrow {
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
  fill: #000000;
  transition: fill 0.3s ease-out;
}
#services-section .service-wrapper#service-b .slider-wrapper .slider-arrow.left {
  left: -55px;
}
#services-section .service-wrapper#service-b .slider-wrapper .slider-arrow.right {
  right: -55px;
}
#services-section .service-wrapper#service-b .slider-wrapper .slider-arrow:hover {
  fill: #FF9200;
}
#services-section .service-wrapper .title {
  position: relative;
  display: block;
  margin-bottom: 60px;
  font-size: 5.5rem;
  color: #000000;
}
#services-section .service-wrapper .service-paragraph {
  position: relative;
  display: block;
  width: 65%;
}
.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  z-index: 6;
}
.splash .content-wrapper {
  position: absolute;
}
.splash .content-wrapper img {
  position: relative;
  display: block;
  height: 160px;
  width: auto;
  margin: 0 auto;
}
.splash .content-wrapper .progress-number {
  position: relative;
  display: block;
  margin-top: 60px;
  color: #FF9200;
  text-align: center;
}
.splash .content-wrapper .progress-bar-container {
  position: relative;
  display: block;
  width: 200px;
  height: 2px;
  margin: 0 auto;
  margin-top: 60px;
  background-color: #41393E;
  overflow: hidden;
}
.splash .content-wrapper .progress-bar-container .progress-bar {
  position: absolute;
  left: -100%;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #FF9200;
}
.footer {
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
}
.footer,
.footer * {
  -webkit-touch-callout: auto;
  -webkit-user-select: auto;
  user-select: auto;
}
.footer .footer-wrapper {
  position: absolute;
  width: 160px;
  height: 34px;
}
.footer .footer-wrapper .contact-data {
  position: absolute;
  color: #FF9200;
  letter-spacing: 4px;
}
.footer .footer-wrapper .social-network-wrapper {
  position: relative;
  width: 100px;
  height: 30px;
  margin: 0 30px;
}
.lds-ellipsis {
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #FF9200;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.lds-ripple {
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  margin-top: 60px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fed;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
