/************************************/
/*************  COLORS   ************/
/************************************/
.font-logo {
  font-family: 'Lato', sans-serif;
}
.font-aller-bd {
  font-family: 'aller-bd';
}
.font-aller-bd-it {
  font-family: 'aller-bd-it';
}
.font-aller-lt-it {
  font-family: 'aller-lt-it';
}
.black-font {
  color: #000000;
}
@font-face {
  font-family: "aller-bd";
  src: url("../../resources/fonts/Aller_Bd.ttf") format("truetype");
}
@font-face {
  font-family: "aller-bd-it";
  src: url("../../resources/fonts/Aller_BdIt.ttf") format("truetype");
}
@font-face {
  font-family: "aller-lt-it";
  src: url("../../resources/fonts/Aller_LtIt.ttf") format("truetype");
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
p,
pre {
  margin: 1em 0;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
span {
  margin: 0;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  line-height: 1em;
}
*:not(input) {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
a:active,
a:focus,
input:focus,
input:visited,
input:active,
input:hover,
input:required,
input:valid,
input:invalid,
textarea:focus,
textarea:visited,
textarea:active,
textarea:hover,
textarea:required,
textarea:valid,
textarea:invalid,
select:focus,
select:visited,
select:active,
select:hover,
select:required,
select:valid,
select:invalid {
  outline: none !important;
}
a {
  cursor: pointer;
  text-decoration: none;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 0;
}
ul {
  margin: 0;
  padding: 0;
}
.vertical-centered {
  top: 50%;
  transform: translateY(-50%);
}
.horizontal-centered {
  left: 50%;
  transform: translateX(-50%);
}
.parent-centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.paragraph {
  font-size: 1.4rem;
  letter-spacing: 3px;
  line-height: 2rem;
}
.paragraph .highlighted {
  font-size: 1.5rem;
  font-family: aller-bd-it;
}
.separator {
  position: relative;
  width: 100%;
  height: 1px;
  margin: 40px 0;
}
.section-link {
  position: absolute;
  cursor: pointer;
}
.section-link .link-text {
  position: relative;
  font-size: 16px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 900;
  transition: color 0.3s ease-out;
}
.section-link .link-text.active {
  color: #C15437;
}
.section-link:hover .link-text {
  color: #893125;
}
.section-link:hover .link-text.active {
  color: #C15437;
}
.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  z-index: 6;
}
.splash .content-wrapper {
  position: absolute;
}
.splash .content-wrapper img {
  position: relative;
  display: block;
  height: 160px;
  width: auto;
  margin: 0 auto;
}
.splash .content-wrapper .progress-number {
  position: relative;
  display: block;
  margin-top: 60px;
  color: #C15437;
  text-align: center;
}
.splash .content-wrapper .progress-bar-container {
  position: relative;
  display: block;
  width: 200px;
  height: 2px;
  margin: 0 auto;
  margin-top: 60px;
  background-color: #545454;
  overflow: hidden;
}
.splash .content-wrapper .progress-bar-container .progress-bar {
  position: absolute;
  left: -100%;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #C15437;
}
.popup-cookies-and-privacy-policies {
  position: fixed;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 100px;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  display: none;
  overflow: hidden;
  z-index: 10;
}
.popup-cookies-and-privacy-policies .close-button {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  fill: #ffffff;
}
.popup-cookies-and-privacy-policies .policies-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding: 150px;
  box-sizing: border-box;
  overflow: auto;
}
.popup-cookies-and-privacy-policies .policies-wrapper .policies-title {
  font-family: 'aller-bd';
  font-size: 2rem;
  color: #C15437;
  margin-top: 80px;
  margin-bottom: 40px;
}
.popup-cookies-and-privacy-policies .policies-wrapper .policies-title:first-child {
  margin-top: 0;
}
.popup-cookies-and-privacy-policies .policies-wrapper .policies-text {
  font-family: 'aller-lt-it';
  font-size: 1rem;
  line-height: 1.5rem;
  color: #545454;
}
.cookies-and-privacy-notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 450px;
  height: auto;
  background-color: #545454;
  padding: 20px 30px;
  box-sizing: border-box;
  z-index: 6;
  transition: all 1s ease-out;
  text-align: justify;
  text-align-last: center;
  border: 1px solid #ffffff;
}
.cookies-and-privacy-notification.hide {
  bottom: -90px;
}
.cookies-and-privacy-notification p {
  color: #ffffff;
  font-size: 1rem;
}
.cookies-and-privacy-notification p .cookies-policy-link {
  color: #C15437;
  text-decoration: underline;
}
.cookies-and-privacy-notification .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 10px;
  height: 10px;
  cursor: pointer;
  fill: #ffffff;
}
.social-network-wrapper {
  position: absolute;
  right: 50px;
  width: 134px;
  height: 30px;
}
.social-network-wrapper .social-network-link {
  position: relative;
  width: 26px;
  height: 26px;
  float: left;
  margin-right: 10px;
}
.social-network-wrapper .social-network-link:last-child {
  margin-right: 0;
}
.social-network-wrapper .social-network-link svg {
  width: 100%;
  height: 100%;
  cursor: pointer;
  fill: #893125;
}
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 55px;
  background-color: #ffffff;
  transition: 1s all ease-in-out;
  z-index: 5;
}
header.light-grey-background {
  background: #f5f5f5;
}
header .home-logo-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  transition: 1 height ease-in-out;
}
header .home-logo-wrapper img {
  position: absolute;
  left: 50px;
  height: 45px;
  width: auto;
  opacity: 1;
  cursor: pointer;
}
header .home-logo-wrapper .logo-text {
  position: absolute;
  width: auto;
  left: 115px;
  color: #C15437;
  font-size: 1.6rem;
  text-transform: uppercase;
  cursor: pointer;
}
header .home-logo-wrapper .logo-text span {
  color: #545454;
}
header .menu-wrapper {
  position: absolute;
  top: 0;
  right: 230px;
  width: 40%;
  height: 100%;
  transition: 1 height ease-in-out;
}
header .menu-wrapper ul {
  position: absolute;
  right: 0;
  width: auto;
}
header .menu-wrapper ul li {
  position: relative;
  float: left;
  margin-right: 20px;
}
header .menu-wrapper ul li.no-right-margin {
  margin-right: 0;
}
section {
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(100vh - 55px);
  min-height: calc(100vh - 55px);
  box-sizing: border-box;
  overflow: hidden;
}
.section-title {
  position: relative;
  text-align: center;
  width: auto;
  font-size: 3rem;
  margin-bottom: 40px;
}
#home-section {
  top: 55px;
  z-index: 0;
  padding: 0;
  background-color: #545454;
}
#home-section .home-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}
#home-section .home-image-wrapper .home-image {
  position: absolute;
}
#home-section .slogan-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-right: 1000px solid transparent;
  border-bottom: 170px solid #C15437;
  transition: 1s all ease;
  font-style: oblique;
  opacity: 0.8;
}
#home-section .slogan-wrapper .slogan {
  position: absolute;
  top: 85px;
  left: 30px;
  width: 400px;
  color: #ffffff;
  font-size: 1.3rem;
  text-align: left;
  opacity: 0.7;
}
#home-section .slogan-wrapper .slogan-author {
  position: absolute;
  top: 138px;
  left: 400px;
  text-align: right;
  font-size: 0.9rem;
  color: #ffffff;
  opacity: 0.7;
}
#about-section {
  top: 100%;
  display: none;
  z-index: 1;
  background-color: #545454;
}
#about-section .section-wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
}
#about-section .section-wrapper .image-wrapper {
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
  float: left;
}
#about-section .section-wrapper .image-wrapper .about-image {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
}
#about-section .section-wrapper .text-wrapper {
  position: relative;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  float: left;
}
#about-section .section-wrapper .text-wrapper .title-paragraph-wrapper {
  position: absolute;
  bottom: 120px;
  left: 0%;
  width: 100%;
  padding: 0 10%;
  box-sizing: border-box;
}
#about-section .section-wrapper .text-wrapper .title-paragraph-wrapper .section-title {
  color: #C15437;
  margin-bottom: 40px;
  width: 100%;
  text-align: left;
}
#about-section .section-wrapper .text-wrapper .title-paragraph-wrapper .about-paragraph {
  position: relative;
  width: 100%;
  text-align: justify;
  color: white;
}
#services-section {
  position: absolute;
  top: 100%;
  background-color: #ffffff;
  display: none;
  z-index: 1;
  overflow: auto;
}
#services-section::-webkit-scrollbar {
  width: 0;
}
#services-section .section-wrapper {
  position: relative;
  height: auto;
  width: 100%;
}
#services-section .section-wrapper .section-title {
  color: #C15437;
  text-align: left;
  margin: 105px 10% 40px 10%;
  box-sizing: border-box;
}
#services-section .section-wrapper .set-wrapper {
  position: relative;
  width: 80%;
  height: 400px;
  margin: 0 10%;
  margin-bottom: 120px;
  box-sizing: border-box;
}
#services-section .section-wrapper .set-wrapper.wide {
  width: 90%;
  margin-right: 0;
}
#services-section .section-wrapper .set-wrapper.wide .image-wrapper {
  width: 525px;
}
#services-section .section-wrapper .set-wrapper.inverted.wide {
  width: 100%;
  margin-left: 0;
}
#services-section .section-wrapper .set-wrapper.inverted .service-paragraph {
  right: 0;
  left: auto;
}
#services-section .section-wrapper .set-wrapper.inverted .image-wrapper {
  left: 0;
  right: auto;
}
#services-section .section-wrapper .set-wrapper.wide-image .service-paragraph {
  width: 50%;
  padding-left: 75px;
  box-sizing: border-box;
  padding-right: 10%;
}
#services-section .section-wrapper .set-wrapper.wide-image .image-wrapper {
  width: 50%;
}
#services-section .section-wrapper .set-wrapper .service-paragraph {
  position: absolute;
  left: 0;
  width: 55%;
  color: #545454;
  text-align: justify;
}
#services-section .section-wrapper .set-wrapper .service-paragraph.left-side {
  float: left;
}
#services-section .section-wrapper .set-wrapper .service-paragraph.right-side {
  float: right;
}
#services-section .section-wrapper .set-wrapper .image-wrapper {
  position: absolute;
  right: 0;
  width: 390px;
  height: 390px;
  overflow: hidden;
}
#services-section .section-wrapper .set-wrapper .image-wrapper.circle-shape {
  border-radius: 50%;
}
#services-section .section-wrapper .set-wrapper .image-wrapper .service-image {
  position: relative;
  min-height: 100%;
  width: 100%;
}
#services-section .section-wrapper .offer-wrapper {
  position: relative;
  width: 100%;
  height: 380px;
  overflow: hidden;
}
#services-section .section-wrapper .offer-wrapper .orange-triangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: 2;
  border-right: 1000px solid transparent;
  border-bottom: 465px solid #C15437;
  opacity: 0.8;
}
#services-section .section-wrapper .offer-wrapper img {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
}
#services-section .section-wrapper .offer-wrapper .text-wrapper {
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 470px;
  z-index: 3;
  color: #ffffff;
}
#services-section .section-wrapper .offer-wrapper .text-wrapper .title {
  position: relative;
  font-size: 2.3rem;
  margin-bottom: 20px;
}
#services-section .section-wrapper .offer-wrapper .text-wrapper .text {
  position: relative;
  font-size: 1rem;
  line-height: 1.5;
}
#contact-section {
  display: none;
  top: 100%;
  background-color: #C15437;
  z-index: 1;
}
#contact-section .section-wrapper {
  position: relative;
  height: 100%;
}
#contact-section .section-wrapper .image-wrapper {
  width: 50%;
  height: 100%;
  position: relative;
  display: inline-block;
  overflow: hidden;
}
#contact-section .section-wrapper .image-wrapper .contact-image {
  position: absolute;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
#contact-section .section-wrapper .text-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: calc(45% - 4.45px);
  padding-right: 5%;
  margin-left: 5%;
  box-sizing: border-box;
}
#contact-section .section-wrapper .text-wrapper .section-title {
  display: block;
  color: #545454;
  margin-bottom: 40px;
  text-align: left;
}
#contact-section .section-wrapper .text-wrapper .contact-paragraph {
  position: relative;
  display: block;
  width: 100%;
  text-align: justify;
  color: #ffffff;
  margin-bottom: 30px;
}
#contact-section .section-wrapper .text-wrapper .social-network-wrapper {
  position: relative;
  right: auto;
}
#contact-section .section-wrapper .text-wrapper .social-network-wrapper svg {
  fill: #ffffff;
}
