@import "./variables.less";
@import "./normalize.less";

body {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

p, h1, h2, h3, span, li {
  font-family: 'Ubuntu', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

.invisible {
  display: none;
}

.vertical-centered {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.horizontal-centered {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.parent-centered {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.section-link {
  position: absolute;
  cursor: pointer;
  opacity: .4;
  transition: opacity .3s;

  .link-svg {
    position: relative;
    width: 30px;
    height: 20px;
    fill: @orange;
  }

  .link-text {
    position: relative;
    font-size: 16px;
    color: @orange;
  }

  &:hover {
    opacity: 1;
  }
}

.header-section {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;

  .left-part, .right-part {
    position: relative;
    float: left;
    height: 100vh;
    width: 50%;

    img {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: auto;
      min-width: 100%;
      min-height: 100%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); 
    }
  }
}

.paragraph {
  font-size: 1.4rem;
  letter-spacing: 3px;
  line-height: 2rem;
}

.logo-wrapper {
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 3;
  cursor: pointer;

  img {
    position: relative;
    height: 40px;
    width: auto;
  }
}

#home-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 0;

  .background-image {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: auto;
      min-width: 100%;
      min-height: 100%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); 
    }
  }

  .main-title {
    position: absolute;
    color: @orange;
    width: 60%;
    text-align: center;
    font-size: 8rem;
  }

  .link-to-about-section {
    left: 40px;

    .link-svg {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
    }

    .link-text {
      display: inline-block;
      vertical-align: middle;
    }
  }
  
  .link-to-services-menu-section {
    right: 40px;

    .link-svg {
      display: inline-block;
      vertical-align: middle;
    }

    .link-text {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .link-to-contact-section {
    bottom: 40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);

    .link-svg {
      display: block;
      margin: 0 auto;
      margin-top: 10px;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }
}

#contact-section {
  position: absolute;
  top: 100vh;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #232020;
  z-index: 1;
  display: none;

  .link-to-home-section {
    top: 40px;
    z-index: 2;

    .link-svg {
      display: block;
      margin: 0 auto;
      margin-bottom: 10px;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }

    .link-text {
      display: block;
    }
  }
  
  .contact-paragraph {
    position: relative;
    display: block;
    width: 50%;
    color: @orange;
    margin: 0 auto;
    padding-top: 160px;
    text-align: justify;
    text-align-last: center;
  }

  .contact-data{
    position: relative;
    display: block;
    text-align: center;
    color: @white;
    letter-spacing: 4px;

    &.email {
      margin-top: 50px;
    }

    &.phone-number {
      margin-top: 20px;
    }
  }

  .social-network-wrapper {
    position: relative;
    display: block;
    width: 100px;
    height: 30px;
    margin: 0 auto;
    margin-top: 50px;

    .social-network-link {
      position: absolute;
      width: 30px;
      height: 30px;
      cursor: pointer;

      svg {
        width: 30px;
        height: 30px;
      }

      &.facebook {
        top: 0;
        left: 0;
      }

      &.instagram {
        top: 0;
        right: 0;
      }
    }
  }
}

#about-section {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  z-index: 1;

  .link-to-home-section {
    right: 40px;
    z-index: 2;

    .link-svg {
      display: inline-block;
      vertical-align: middle;
    }

    .link-text {
      display: inline-block;
      vertical-align: middle;
    }
  }
  
  .header-section  .left-part {
    background-color: @white;
    .text-wrapper {
      position: absolute;
      left: 80px;
      top: 220px;
      width: 70%;
      box-sizing: border-box;

      .subtitle {
        position: relative;
        display: block;
        color: @orange;
        font-size: 1.5rem;
        margin-bottom: 20px;
      }

      .title {
        position: relative;
        display: block;
        color: @black;
        font-size: 5.5rem;
      }
    }
  }

  .about-wrapper {
    position: relative;
    width: 100%;
    padding: 100px 0;
    min-height: 100vh;
    padding-left: 13%;
    box-sizing: border-box;

    .about-paragraph {
      position: absolute;
      width: 65%;
      top:  40%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
}

#services-menu-section {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  z-index: 1;
  display: none;

  .link-to-home-section {
    left: 40px;
    z-index: 2;

    .link-svg {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
    }

    .link-text {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .back-to-services-menu {
    right: 80px;
    top: 40px;
    z-index: 2;
    display: none;

    .link-svg {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      -o-transform: rotate(270deg);
      transform: rotate(270deg);
      fill: @black;
    }

    .link-text {
      display: inline-block;
      vertical-align: middle;
      color: @black;
    }
  }

  .header-section   {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    .right-part {
      background-color: @white;
    }
  }

  .services-list {
    position: absolute;
    right: 80px;
    width: 40%;
    box-sizing: border-box;
    z-index: 5;
    .service-item {
      position: relative;
      display: block;
      float: right;
      clear: both;
      margin-bottom: 30px;
      font-size: 4rem;
      text-align: right;
      cursor: pointer;
      font-weight: 600;
      letter-spacing: 3px;
      color: @black;
      transition: color .6s ease-out;

      &.selected {
        color: @orange;
      }

      &:last-child {
        margin-bottom: 0px;
      }

      &:hover {
        color: @orange;
      }
    }
  }

  .service-wrapper{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px 190px;
    box-sizing: border-box;
    background-color: @white;

    .title {
      position: relative;
      display: block;
      margin-bottom: 60px;
      font-size: 5.5rem;
      color: @black;
    }

    .service-paragraph {
      position: relative;
      display: block;
      width: 65%;
    }
  }
}

.footer {
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0;
  left: 0;

  .footer-wrapper{
    position: absolute;
    width: 160px;
    height: 34px;

    .contact-data{
      position: absolute;
      color: @orange;
      letter-spacing: 4px;
    }
  
    .social-network-wrapper {
      position: relative;
      width: 100px;
      height: 30px;
      margin: 0 30px;
  
      .social-network-link {
        position: absolute;
        width: 30px;
        height: 30px;
        cursor: pointer;
  
        svg {
          width: 30px;
          height: 30px;
        }
  
        &.instagram {
          top: 0;
          left: 0;

          svg {
            fill: @black;
          }
        }
  
        &.facebook {
          top: 0;
          right: 0;
        }
      }
    }
  }

}


