/************************************/
/*************  COLORS   ************/
/************************************/

@orange: #FF914C;
@white: #ffffff;
@black: #000000;
@grey: #545454;
@light-grey: #808080;
@lighter-grey: #f5f5f5;

.font-logo {
  font-family: 'Lato', sans-serif;
}

.font-aller-bd {
  font-family: 'aller-bd';
}

.font-aller-bd-it {
  font-family: 'aller-bd-it';
}

.font-aller-lt-it {
  font-family: 'aller-lt-it';
}

.black-font {
  color: @black;
}

@font-face {
  font-family:"aller-bd";
  src: url("../../resources/fonts/Aller_Bd.ttf") format("truetype");
}

@font-face {
  font-family:"aller-bd-it";
  src: url("../../resources/fonts/Aller_BdIt.ttf") format("truetype");
}

@font-face {
  font-family:"aller-lt-it";
  src: url("../../resources/fonts/Aller_LtIt.ttf") format("truetype");
}