/************************************/
/*************  COLORS   ************/
/************************************/

@orange: #FF914C;
@white: #ffffff;
@black: #000000;
@grey: #41393E;
@light-grey: #808080;